*  {
	margin: 0;
	padding: 0;

}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*Layout*/

#area-cabecalho {
	background: #f7b600;
	padding: 15px;
	text-align: center;

}

#area-logo, #area-menu {
	padding: 10px;
	

}

h1 {
	color: #4e4e4e
	font-size: 2.5em;
}

.branco {
	color: white;
}


/*********Formatação do Menu e Links******/

a{
	text-decoration: none; /**Remove o underline do link*/
	
}

 a:link, a:visited {
	color: #f7b600;
	

}

a:hover {
	text-decoration: underline;
}

/****Utiliando a seleção dos links na area de cabeçalho****/

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #fff;
	padding: 8px 12px;

}

#area-cabecalho a:hover {
	background: white;
	color: #f7b600;
	text-decoration: none;
}



/********* Fim da Formatação do Menu e Links***********/


/*Formatação da Area de Conteúdos**/

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 10px;
	
}

#area-postagens {
	float: left;
	width: 660px;

}

#area-lateral {
	float: right;
	width: 240px;
}

#rodape {
	clear: both;
	text-align: center;
	background: #ccc;
	padding: 15px;

}

.postagem {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}
.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
	
	

}

.conteudo-lateral { 
	background: white;
	padding: 10px;
	margin-bottom: 20px;

}

.texto-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #ccc;

}

h2 {
	color: #f7b600;


}

h3 {
	color: #565656;
	background: #ccc;
	padding: 5px;


}

